@use './../base/variables' as v;
@use './../base/mixins' as m;




//! SLIDER
.slider {
    height: 25rem;

    @include m.desktop {
        height: 68rem;
    }
    

    > img {
        height: 100%;
        object-fit: cover;
    }
    // height: 68rem;



}