@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    font-family: v.$fuente_principal;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.separador {
    width: 85%;
    height: .1rem;

    margin: 0 auto;
    margin-top: 2rem;

    background-color: #ccc;
}


//! BOTON FLOTANTE WSP
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 28px;
  padding: 15px 18px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  text-decoration: none;
  z-index: 1000;
}
.whatsapp-btn:hover {
  background: #1ebe5d;
}


//* FIN BOTON FLOTANTE WSP