@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

//! Fuentes
$fuente_principal: 'Ubuntu' sans-serif;
$font-size: 16px;
$parrafo: 1.5rem;


//! Tamaño de Media Queries
$mobile: 375px;
$desktop: 768px;
// $desktop: 1440px;

//! Neutral
$negro: #000000;
$gris-oscuro: #272727;
$gri: #4e4e4e;
$gris-claro: #747474;
$White: #9b9b9b;


//! Colores-Primarios
$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light: hsl(206, 94%, 87%);
$red: hsl(354, 84%, 57%);

$Blue: hsl(246, 80%, 60%);
$Work-light-red: hsl(15, 100%, 70%);
$Play-soft-blue: hsl(183, 82%, 9%);
$Study-light-red: hsl(348, 100%, 68%);
$Exercise-lime-green: hsl(145, 58%, 55%);
$Social-violet: hsl(264, 64%, 52%);
$SelfCare-soft-orange: hsl(43, 84%, 65%);
$Prueba: hsl(43, 32%, 56%);

$azul: #0A3D62;
$celeste: #60AEE9;
$blanco:#FFFFFF;


//! Fuentes
$regular : 400;
$normal: 500;
$bold: 700;
// $black: 800;